* {
    background-color: #150A1E;
}

#color_nav {
    color: white !important;
}

h1 {
    color: violet;
}

header {
    /*height: 69px;*/
    color: white;
    background-color: rgb(12, 5, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    img {
        width: 25px;
        margin-left: 10px;
        margin-top: 5px;
    }
    nav {
        background-color: rgb(12, 5, 18);
        ul {
            background-color: rgb(12, 5, 18);
            align-items: center !important;
            margin-top: 5px !important;
            li {
                background-color: rgb(12, 5, 18);
                align-items: center;
                display: inline-flex;
                flex-wrap: wrap-reverse;
                a {
                    color: white;
                    background-color: rgb(12, 5, 18);
                    text-decoration: none;
                    align-items: center;
                    font-size: 12px;
                    font-style: normal;
                    line-height: normal;
                    margin: 15px 15px 5px 15px;
                    &:hover {
                        color: gray;
                    }
                }
            }
        }
    }
    a {
        font-size: 12px;
        line-height: normal;
        color: black;
        background: #D9D9D9;
        text-decoration: none;
        align-items: center;
        padding: 5px 8px;
        border-radius: 4px;
        margin: 15px;
        &:hover {
            color: gray;
        }
    }
}


